@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
			</hgroup>
			<p>
				Velkommen
			</p>
		</div>
	</section>
}
Du må logge inn